<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</head>
<body>
<center><h1>Student Management System</h1></center>
<div class = "container">
    <a class = "btn btn-sm btn-primary" th:href="@{/add}">Add Student</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Operation</th>
    </tr>
    </thead>
    <tbody>
        <th:block th:each="student : ${students}">
            <tr>
                <td>[[${student.id}]]</td>
                <td>[[${student.name}]]</td>
                <td>[[${student.number}]]</td>
                <td>[[${student.phone}]]</td>
                <td>[[${student.email}]]</td>
                <td>
                    <a th:href="@{'/student/edit/' + ${student.id}}">Edit</a>
                    <a th:href="@{'/student/delete/' + ${student.id}}">Delete</a>
                </td>
            </tr>
        </th:block>
    </tbody>
</table>
</div>
</body>
</html>